.bg-white .container {
  padding: 10px;
}

.apt-addheading {
  cursor: pointer;
  user-select: none;
}
.input-group {
  margin: 30px 0px;
}
#search-schools {
  padding: 20px;
}
.school-list {
  font-size: 1.1em;
}

.school-list .school-item {
  border-bottom: 1px dotted gray;
}

.school-list .school-item:last-child {
  border-bottom: none;
}

.school-list .school-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}
.suburb {
  font-weight: 600;
}
.school-list .label-item {
  font-weight: 400;
  color: #667b82;
  text-transform: capitalize;
}

.school-list .school-url {
  font-style: italic;
  text-align: right;
}

.school-list .apt-notes {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #2694ab;
}
a {
  color: #fe5f55;
}
.form-control {
  border-color: #a64942;
}
@media (max-width: 768px) {
  .school-url {
    text-align: left !important;
    padding: 10px 0px;
  }
  .school-list .school-name {
    padding: 0px;
  }
}
